.markPopoverContentWrapper {
  cursor: help;
}

.marksGap {
  display: inline;
  margin-left: 5px;
}

.popoverWrapper {
  cursor: pointer;
}

.markPopoverContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
