.markPopoverContentWrapper {
  flex: 0 0 auto;
  cursor: help;
}

.marksGap {
  display: inline-block;
}

.popoverWrapper {
  cursor: pointer;
}

.markPopoverContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
