.totalMark {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  min-width: 100%;
  box-sizing: border-box;
  padding: 0 16px 12px;
}
