.userInfo__Wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 32px;
  align-items: center;
}

.userInfo__Content {
  padding: 12px;
}
