* {
  box-sizing: border-box;
}

/* Для PC / Tablet */
.lessonCard > section {
  padding-bottom: 10px !important;
}

/* Не рисуем лишний блок из VKUI */
.lessonCard > div {
  display: none !important;
}

.lesson > div > div > span {
    width: 100%;
}

.recentMarks {
    padding-inline: 10px;
}

.marksWrapper > div::before, .marksWrapper > div::after {
    content: none !important;
}

main {
  animation: show .3s forwards ease-in;
}

@keyframes show {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.flex {
  display: flex;
}

.markWrapper {
  max-width: 100px !important;
}

.tableWrapper {
  padding: 0 20px;
  height: 90vh;
  overflow-x: auto;
}
