/* Для PC / Tablet */
.lessonCard > section {
  padding-bottom: 10px !important;
}

/* Не рисуем лишний блок из VKUI */
.lessonCard > div {
  display: none !important;
}

.lesson > div > div > span {
    width: 100%;
}

.recentMarks {
    padding-inline: 10px;
}

.marksWrapper > div::before, .marksWrapper > div::after {
    content: none !important;
}
