/* Для PC / Tablet */
.lessonCard > section {
  padding-bottom: 10px !important;
}

/* Не рисуем лишний блок из VKUI */
.lessonCard > div {
  display: none !important;
}

.lesson > div > div > span {
    width: 100%;
}

/* Не рисуем лишние отступы из VKUI */
._HorizontalCell--size-s_1k356_36 ._HorizontalCell__image_1k356_5 {
     padding-block: unset;
     padding-inline: unset;
}

.recentMarks {
    padding-inline: 5px;
}

.marksWrapper > div::before, .marksWrapper > div::after {
    content: none !important;
}