._HorizontalCell__content_1q642_21 {
  word-break: unset !important;
}

._SimpleCell__subtitle_rmh19_48,
._SimpleCell__extraSubtitle_rmh19_49,
.lesson ._Typography_182ve_1 {
  width: 100%;
}

@media (max-width: 767.9px) {
  ._Tappable--sizeX-none_49f5u_121 {
    border-radius: 8px !important;
  }
}
._HorizontalCell_1q642_1:first-child::before,
._HorizontalCell_1q642_1:last-child::after {
  content: none !important;
}

/* Для PC / Tablet */
.lessonCard > section {
  padding-bottom: 10px !important;
}

.lessonCard > div {
  display: none !important;
}
