/* Для PC / Tablet */
.lessonCard > section {
  padding-bottom: 10px !important;
}

/* Не рисуем лишний блок из VKUI */
.lessonCard > div {
  display: none !important;
}

.lesson > div > div > span {
  width: 100%;
}

.recentMarks {
  padding-inline: 10px;
}

.marksWrapper > div::before,
.marksWrapper > div::after {
  content: none !important;
}

main {
  animation: show .5s forwards ease-in;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(200%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.flex {
  display: flex;
}

.tableWrapper {
  padding: 0 20px;
}
