.userInfo__Wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 32px;
    align-items: center;
}

.userInfo__Title {
    margin-bottom: 8px;
    margin-top: 20px;
}

.userInfo__Text {
    margin-bottom: 24px;
    color: var(--vkui--color_text_secondary);
}
